@font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}

@media (prefers-color-scheme: dark) {

    html,
    body {
        background-color: #191C1D;
        padding: 10px;
        font-family: 'Roboto', sans-serif;
        font-weight: 200;
        height: 95%;
        margin: 0;
    }

    .main {
        background-color: #1C2628;
        border-radius: 15px;
        color: #E1E3E4;
    }

    .admin-card, .tabulator, .tabulator-tableHolder, .tabulator-headers, .tabulator-col, .tabulator-sortable {
        background-color: #1C2628 !important;
        color: #E1E3E4 !important;
    }

    .title, .subtitle {
        color: #E1E3E4;   
    }

    h1 {
        color: #E1E3E4;
    }

    .joinBtn {
        background-color: #4696B2;
        color: #000;
        font-weight: 500;
        fill: #000;
    }

    .copyBtn {
        background-color: #F6BE00;
        color: #583700;
        fill: #583700;
        font-weight: 500;
    }
}

@media (prefers-color-scheme: light) {

    html,
    body {
        background-color: #FBFCFE;
        padding: 10px;
        font-family: 'Roboto', sans-serif;
        font-weight: 200;
        height: 95%;
        margin: 0;
    }

    .main {
        background-color: #EEF4F7;
        border-radius: 15px;
        color: #191C1D;
    }

    .admin-card, .tabulator, .tabulator-tableHolder, .tabulator-headers, .tabulator-col, .tabulator-sortable {
        background-color: #EEF4F7 !important;
        color: #191C1D !important;
    }

    h1 {
        color: #191C1D;
    }

    .joinBtn {
        color: white;
        fill: white;
        background-color: #1398B5;
        font-weight: 500;
    }

    .copyBtn {
        background-color: #F7C001;
        color: white;
        fill: white;
        font-weight: 500;
    }

}

.full-height {
    height: 100%;
}

.flex-center {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-around;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 20px;
    top: 20px;
}

.bottom {
    position: absolute;
    bottom: 0px;
    text-align: center;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
}

.title {
    font-size: 84px;
    /*  margin-bottom: 30px; */
    text-transform: uppercase;
    font-weight: 300;
}

.subtitle {
    font-size: 24px;
    font-weight: 300;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.underline {
    text-decoration-line: underline;
    text-decoration-color: #F7C000;
}


p {
    padding: 0 25px;
    font-size: 13px;
    font-weight: 300;
    letter-spacing: .1rem;
    text-decoration: none;
    /* text-transform: uppercase; */
}

a {
    color: white;
}

.large {
    font-size: 22px;
}

.uppercase {
    text-transform: uppercase;
}

.copy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 10px;
}

.copyBtn {
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 2px 24px;
    margin: 2px;
    height: 40px;
    text-decoration: none;
    gap: 4px;
}

.joinBtn {
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 2px 24px;
    margin: 2px;
    text-decoration: none;
    height: 40px;
    gap: 4px;
}


.join_group {
    padding-top: 7px;
    font-size: 11px;
    line-height: 5px;
}

.group_name {
    font-size: 21px;
}


.admin-card {
    display: flex;
    flex-direction: column;
    padding: 40px;
    border-radius: 15px;
    text-align: left;
    width: 80%;
    margin: 10px 0;
    font-size: 15px;
    gap: 3px;
}