@font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}

 html, body {
     color: white;
     font-family: 'Roboto', sans-serif;
     font-weight: 200;
     height: 90vh;
     margin: 0;
     background-image: url('/lender_landscape.png');
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
     background-position: center;
 }

 .full-height {
     height: 90vh;
 }

 .flex-center {
     align-items: center;
     display: flex;
     justify-content: center;
 }

 .position-ref {
     position: relative;
 }

 .top-right {
     position: absolute;
     right: 10px;
     top: 18px;
 }

 .bottom {
     position: absolute;
     bottom: 0px;
     text-align: center;
 }

 .content {
     text-align: center;
 }

 .title {
     font-size: 84px;
    /*  margin-bottom: 30px; */
     text-transform: uppercase;
     font-weight: 200;
 }

 p {
     padding: 0 25px;
     font-size: 13px;
     font-weight: 300;
     letter-spacing: .1rem;
     text-decoration: none;
     /* text-transform: uppercase; */
 }
 
 a {
     color: white;
 }

.large {
    font-size: 22px;
}

.uppercase {
    text-transform: uppercase;
}

.copyBtn {
    background-color:transparent;
    border-radius:6px;
    color:white;
    border:1px solid white;
    display:inline-block;
    cursor:pointer;
    padding:5px;
    margin:5px;
    text-decoration:none;
}

.joinBtn {
    background-color:black;
    border-radius:6px;
    color:white;
    border:1px solid #a6a6a6;
    /* border:1px solid #70C5EB; */
    display:inline-block;
    cursor:pointer;
    padding:2px;
    margin:5px;
    text-decoration:none;
    position:relative;
    bottom:8px;
}
td {
    vertical-align: bottom;
    text-align: left;
    line-height: 1;
    font-family: Product Sans, 'Roboto';
    padding-right: 5px;
}
.join_group {
    font-size:11px;
    font-weight:400;
    text-transform: uppercase;
    position:relative;
    bottom:5px;
}
.group_name {
    font-weight:550;
    font-size:21px;
    position:relative;
    bottom:5px;
}
